{% extends 'base.html' %}

{% block head_title %} Committees {% endblock %}

{% block content %}
    <div class="container mt-3">
      
      <h1>Committees</h1>

    <div class="row">
      {% for committee in committees %}
      <div class="col-sm-6 col-md-3 mt-3">
        <div class="card">
          <div class="card-header">
            <h5 class="text-center">{{ committee }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for member in committee.heads.all %}
              <li class="list-group-item list-group-item-warning">
                  <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">{{member.first_name}} {{member.last_name}}</h6>
                      <small>{{member}}</small>
                  </div>
              </li>

            {% endfor %}
            {% for member in committee.members.all %}
              <li class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">{{member.first_name}} {{member.last_name}}</h6>
                      <small>{{member}}</small>
                  </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>

      

    </div>

{% endblock %}



{% block scripts %}
    
{% endblock %}