{% extends 'base.html' %}

{% block head_title %} Tasks {% endblock %}

{% block css %}
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="app" class="container mt-3">
      <div v-if="errors && errors.length">
        <div v-for="error of errors" class="alert alert-danger alert-dismissible fade show" role="alert">
          ((error.response.data))
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <h1>Tasks</h1>

      <table class="table">
        <thead class="thead-light text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Committee</th>
            <th scope="col">Status</th>
            <th scope="col">Due Date</th>
            <th scope="col">Assigned</th>
            <th>
            	<button @click="addTask = true" class="btn btn-primary btn-sm py-0" type="button">Add</button>
                <button @click="filterTask = true" class="btn btn-info btn-sm py-0" type="button">Filter</button>
        	  </th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="filterTask" class="text-center table-secondary">
            <td><i class="fas fa-filter pt-2"></i></td>
            <td><input class="form-control" v-model="newTask.description" disabled></td>
              <td>
                <select class="form-control" v-model="selectedCommittees" multiple="">
                	<option value="All">All</option>
                    <option v-for="committee in committees" v-bind:value="committee.name">
                      (( committee.name ))
                    </option>
                </select>
              </td>
              <td>
                <select class="form-control" v-model="newTask.status" disabled>
                    <option value="All">All</option>
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
              </td>
              <td><input class="form-control" v-model="newTask.due_date" disabled></td>
              <td><input class="form-control" v-model="newTask.assigned" disabled></td>
              <td>
                <button @click="filterTask = null" class="btn btn-sm btn-danger py-0">close</button>
              </td>

          </tr>
          <tr v-if="addTask" class="text-center table-secondary">
            <td><i class="fas fa-plus pt-2"></i></td>
            <td><input class="form-control" v-model="newTask.description"></td>
              <td>
                <select class="form-control" v-model="newTask.committee">
                    <option v-for="committee in committees" v-bind:value="committee.name">
                      (( committee.name ))
                    </option>
                </select>
              </td>
              <td>
                <select class="form-control" v-model="newTask.status">
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
              </td>
              <td><input class="form-control" v-model="newTask.due_date"></td>
              <td><input class="form-control" v-model="newTask.assigned"></td>
              <td>
                <button @click="postTask" class="btn btn-sm btn-success py-0">save</button>
                <button @click="addTask = null" class="btn btn-sm btn-danger py-0">cancel</button>
              </td>

          </tr>
          <tr v-for="task,i in filteredTasks" class="text-center">
            <template v-if="editTask === task.url">
              <td scope="row">((i + 1))</td>
              <td><input class="form-control" v-model="task.description"></td>
              <td>
                <select class="form-control" v-model="task.committee">
                    <option v-for="committee in committees" v-bind:value="committee.name">
                      (( committee.name ))
                    </option>
                </select>
              </td>
              <td>
                <select class="form-control" v-model="task.status">
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
              </td>
              <td><input class="form-control" v-model="task.due_date"></td>
              <td><input class="form-control" v-model="task.assigned"></td>
              <td>
                <button @click="updateTask(task, i)" class="btn btn-sm btn-success py-0">save</button>
                <button v-if="!deleteConfirm" @click="deleteConfirm = true" class="btn btn-sm btn-danger py-0">delete</button>
                <button v-else @click="deleteTask(task.url, i)" class="btn btn-sm btn-danger py-0">Sure?</button>
              </td>
            </template>
            <template v-else>
              <td scope="row">((i + 1))</td>
              <td class="">((task.description))</td>
              <td>((task.committee))</td>
              <td>((task.status))</td>
              <td>((task.due_date))</td>
              <td>((task.assigned))</td>
              <td><button @click="editTask = task.url" class="btn btn-sm btn-secondary py-0">edit</button></td>
            </template>
          </tr>
        </tbody>
      </table>

    </div>

{% endblock %}



{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script> 
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      
      var app = new Vue({
        el: '#app',
        delimiters: ["((","))"],
        data: {
          editTask: null,
          addTask: null,
          filterTask: null,
          deleteConfirm: null,
          newTask: {
            description: null,
            committee: null,
            status: null,
            due_date: null,
            assigned: null,
          },
          tasks: [],
          errors: [],
          committees: [],
          selectedCommittees: ['All'],
        },
        computed: {
        	filteredTasks () {
        		if (this.selectedCommittees.includes('All')) {
        			return this.tasks
        		} else {
        			return this.tasks.filter( (task) => this.selectedCommittees.includes(task.committee))
        		}
        	}
        },
        methods: {
          getTasks(){
            axios.get("/api/tasks/")
              .then(response => {
                this.tasks = response.data
              })
              .catch(e => {
                this.errors.push(e)
              })
          },
          getCommittees(){
            axios.get("/api/committees/")
              .then(response => {
                this.committees = response.data
              })
              .catch(e => {
                this.errors.push(e)
              })
          },
          deleteTask(url, i){
            axios.delete(url)
            .then(() => {
              this.tasks.splice(i, 1)
              this.deleteConfirm = null
            })
            .catch(e => {
            this.errors.push(e)
            })
          },
          postTask(){
            axios.post('/api/tasks/', {
              description: this.newTask.description,
              committee: this.newTask.committee,
              status: this.newTask.status,
              due_date: this.newTask.due_date,
              assigned: this.newTask.assigned,
            })
            .then(() => {
              this.addTask = null;
              this.getTasks();
              this.newTask = {
	            description: null,
	            committee: null,
	            status: null,
	            due_date: null,
              assigned: null,
	          }

            })
            .catch(e => {
            this.errors.push(e)
            })
          },
          updateTask(task, i){
            axios.put(task.url, {
              description: task.description,
              committee: task.committee,
              status: task.status,
              due_date: task.due_date,
              assigned: task.assigned,

            })
            .then(() => {
              this.editTask = null;
            })
            .catch(e => {
            this.errors.push(e)
            })
          }
        },
        mounted() {
          this.getTasks(),
          this.getCommittees()
        }
      })
    </script>
{% endblock %}